/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/logs/sessions
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/
/web/upload/
/web/content/
/web/assets/
/web/assets
/web/assets/*
/nbprojet/
.sass-cache/*
.idea/*
node_modules/*
node_modules/